  <div  class="field control-group">
  	<label class="control-label">Video url</label>
  	<div class="controls">
  		
  		<div style="display:inline;" class="btn center pull-right"><%= link_to_remove_fields "<i class='icon-remove'></i>".html_safe ,f %></div>
  		
  		<%= f.url_field :video_url,{:placeholder => "Video Url", :class=>"video_url"} %>
  	</div>
  </div>
  