	<h5>Sign in with facebook</h5>
	<hr />
			 		<%= link_to "Facebook", '/auth/facebook' ,:class=>"btn btn-primary" %> 
<br /><br />
	<h5>Sign in with twitter</h5>
	<hr />
		  			<%= link_to "Twitter", '/auth/twitter' ,:class=>"btn btn-primary"  %>
	
