<a href="http://twitter.com/share" class="twitter-share-button"  data-text = "<%=@text%>" data-url="<%= @url %>" data-counturl="<%= @url %>" data-via ="cauzly"  data-count="horiznotal">Tweet</a>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 