<h3>Settings</h3>
<hr />

<%= link_to "<i class='icon-edit'></i>Change Password".html_safe,changepassword_settings_path%>
<br />
<%= link_to "<i class='icon-edit'></i>Facebook/Twitter Account".html_safe,social_accounts_settings_path%>
