<div class="form-horizontal">
	
	<h3>Start new campaign <span class="pull-right"><%= link_to 'Back to Campaigns', user_campaigns_path,:class=>"btn" %></span></h3>
	<hr>
	<%= render 'form' %>
	
</div>
